@import 'sass-toolbox';

html, body { 
  width: 100%;
  height: 100%; 
  margin:0;
  padding: 0;
  font-family: “Lucida Grande”, “Lucida Sans Unicode”, “Lucida Sans”, “Garuda”, “Verdana”, “Tahoma”, sans-serif;
}

@mixin centered {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.maintitle {
  display: inline-block;
  margin: 0 auto;
  font-size: 42px;
  line-height: 44px;
  background: rgba(0,0,0,.7);
  padding: 2px 5px;
  color: #fff;

  @include iphone-portrait {
    font-size: 48px;
    line-height: 50px;
  }
}

.subtitle{
  display: inline-block;
  margin: 0 auto;
  font-size: 28px;
  line-height: 30px;
  background: rgba(0,0,0,.7);
  padding: 2px 5px;
  color: #fff;

  @include iphone-portrait {
    font-size: 34px;
    line-height: 36px;
  }
}

#connect-container {
  display: none;
  width: 500px;
  height: 100px;
  @include centered;
  padding-bottom: 80px;

  @include iphone {
    padding-left: 0px;
  }

  #titlewrapper {
    padding-left: 45px;

    @include iphone-portrait {
      padding-left: 5px;
    }
  }
 

  #connect-button {
    display: block;
    margin: 20px auto;
    cursor: pointer;

    @include iphone {
      width: 340px;
    }
  }
}

#disconnect-button {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 20;
}

#tracklist-container {
  display: none;
  width: 400px;
  height: 350px;
  @include centered;
  background: #474747;

  .track {
    cursor: pointer;

  }
}

#track-container {
  display: none;
  width: 100px;
  height: 100px;
  @include centered;
  background: #ff5c00;
}

#track-player {
  display: none; 

  .titles {
    width: 600px;
    height: 80px;
    text-align: center;
    @include centered; 
    top: -280px;
    @include iphone-portrait {
        top: -400px;
    }
    

    .subtitle {
      font-size: 24px;
      line-height: 26px;

      @include iphone-portrait {
        font-size: 36px;
        line-height: 38px;
      }
    }

    .time {
      font-size: 18px;
      line-height: 20px;  
      @include iphone-portrait {
        font-size: 26px;
        line-height: 28px;
      }
    }
  }

  #playcircle {
    width: 100px;
    height: 100px;
    @include centered;  
    cursor: pointer;
    background: url('../assets/circle.svg');
    background-size: cover;

    @include iphone-portrait {
      width: 140px;
      height: 140px;
    }

    &:hover {
      background-image: url('../assets/circle_hover.svg');
    }

    #playbutton {
      height: 40px;
      @include centered; 
      padding-left: 10px; 

      @include iphone-portrait {
        height: 54px;
      }
    }

    #pausebutton {
      display: none;
      height: 35px;
      @include centered; 

      @include iphone-portrait {
        height: 49px;
      }
    }
  }
}

#poweredlogo {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 20;
}

/* common kaleidoscope styles */
.caleido { 
  overflow: hidden;
  width:100%;
  height:100%;
  margin:auto 
}
.caleido_cont{ 
  width: 240%;
  height: 240%;
  left: -70%;
  top: -70%;
  position: relative;
  margin:auto;

  .ks {
    width:50%;
    height:50%;
    position:absolute;
    top:50%;
    left:0;
    z-index:10;
    overflow:hidden;
    @include transform-origin(right top);
  }

  .ksc{
    height: 150%;
    width: 150%;
    position: relative;
    left: 100%;
    top:0;
    background-image:url(../assets/tmp2.jpg);
    @include rotate(30deg);
    @include transform-origin(left top);
  }
}

/* styles for each sector */
.caleido_cont {

  .s1 {
    @include rotate(-30deg);
  }

  .s2 {
    @include transform(rotate(30deg) matrix(-1,0,0,1,0,0));
  }

  .s3 {
    @include rotate(30deg);
  }

  .s4 {
    @include transform(rotate(90deg) matrix(-1,0,0,1,0,0));
  }

  .s5 {
    @include rotate(90deg);
  }

  .s6 {
    @include transform(rotate(150deg) matrix(-1,0,0,1,0,0));
  }

  .s7 {
    @include rotate(150deg);
  }

  .s8 {
    @include transform(rotate(210deg) matrix(-1,0,0,1,0,0));
  }

  .s9 {
    @include rotate(210deg);
  }

  .s10 {
    @include transform(rotate(270deg) matrix(-1,0,0,1,0,0));
  }

  .s11 {
    @include rotate(270deg);
  }

  .s12 {
    @include transform(rotate(330deg) matrix(-1,0,0,1,0,0));
  }  
}

